html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 20px;
  font-family: arial, sans-serif;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;

  background: -webkit-linear-gradient(to right bottom, purple, #F0D0BC 40%, white);
  background:    -moz-linear-gradient(to right bottom, purple, #F0D0BC 40%, white);
  background:         linear-gradient(to right bottom, purple, #F0D0BC 40%, white);
  background-attachment: fixed;
  background-color: #F0D0BC;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-style: italic;
  margin-bottom: 10px;
}

.navigation {
  width: 100%;
  height: 40px;
  background: inherit;
  border: 2px solid black/*#1F1B88 #1D1350*/;
  font-weight: bold;
  color: black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation .signout {
  float: right;
}

.navigation li a {
  width: 100px;
  height: 36px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: purple;
}

.navigation li a.selected {
  background-color: #ccc;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: purple;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

.shortened {
  color: #2A2A2A;
}

form {
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
  background: rgba(255,255,255,0.3);
  font-weight: bold;
}

input[type=url] {
  display: inline
}

input[type=url]:focus {
  outline: none;
}

::-webkit-input-placeholder {
   color: #4C4C4C;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4C4C4C;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4C4C4C;
}

:-ms-input-placeholder {
   color: #4C4C4C;
}


button {
  background-color: inherit;
  font-weight: bold;
  border-radius: 20%;
}

.spiffy {
  border-radius: 50%;
  opacity: 0.3;
}

.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

.hidden {
  visibility: hidden;
}

