<!-- Hello, {{ username }} -->
<div id='container'>

  <!--Your html here -->
  <div class="navigation">
    <ul>
      <li><a href="'/#links">All Links</a></li>
      <li><a href="/#shorten">Shorten</a></li>
      <li><a href="/#" ng-click="signout()">Signout</a></li>
    </ul>
  </div>

</div>

<!-- //form for viewing the links
  //<form class="" ng-submit="addaLink function attached to the link.js controller"
  //<a href signout><button class="" ng-click="signout function in controller"

  //display links
  //visits
 -->