
<div id='container'>

  <h4 ng-if="username">Welcome, {{ username }}</h4>

  <div class="navigation">
    <ul>
      <li><a href="/#links">All Links</a></li>
      <li><a href="/#shorten">Shorten</a></li>
      <li><a href="/#" ng-click="signout()">Signout</a></li>
    </ul>
  </div>

  <form>
    <input type="text" placeholder="Filter by search" ng-model="searchFilter">
  </form>

  <div class="link" ng-repeat="link in data.links | filter:searchFilter | orderBy:'-visits'">
    <!-- image -->
    <img src="assets/redirect_icon.png">
    <div class="linkInfo">
      <div>username: {{ link.username }}</div>
      <div class="visits">{{ link.visits }}</div>
      <div class="title">{{ link.title }}</div>
      <div class="url">{{ link.url }}</div>
      <div>
      <a href="{{ link.base_url }}/api/links/{{ link.code }}">{{ link.base_url }}/api/links/{{ link.code }}</a>
      </div>

  </div>

</div>
