
<div id='container'>

  <h4 ng-if="username">Welcome, {{ username }}</h4>

  <div class="navigation">
    <ul>
      <li><a href="/#links">All Links</a></li>
      <li><a href="/#shorten">Shorten</a></li>
      <li class="signout"><a href="/#" ng-click="signout()">Signout</a></li>
    </ul>
  </div>

  <form>
    <input type="text" placeholder="Filter by search" ng-model="searchFilter">
  </form>

  <div class="link" ng-repeat="link in data.links | filter:searchFilter | orderBy:'-visits'" ng-click="link.visits = link.visits + 1">
    <a href="{{ link.base_url }}/{{ link.code }}" target="_blank">
      <!-- image -->
      <img src="{{ (link.icon_url !== '/' && link.icon_url) || 'assets/redirect_icon.png' }}" style="width:42px;height:48px">
      <div class="linkInfo">

        <div class="visits">{{ link.visits }} visit{{ link.visits === 1 ? '' : 's' }}</div>
        <div class="title">{{ link.title }}</div>
        <div class="url">{{ truncateUrl(link.url) }}</div>
        <div class="shortened">
          {{ link.base_url }}/{{ link.code }}
        </div>

      </div>
    </a>
  </div>

</div>
