<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' ng-model='user.username' placeholder="Username" name="username" required>
    <input type="password" ng-model='user.password' placeholder="Password" name="password" required>
    <input type="password" ng-model='user.confirm' placeholder="Confirm password" name="confirm" required>
    <button ng-disabled="user.password !== user.confirm">signup</button>
  </form>
  <div ng-if="user.password !== user.confirm && signupForm.confirm.$dirty"><a><strong>Password does not match</strong></a></div>
  <div ng-if="invalidSignup"><a><strong>Username not available</strong></a></div>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
